html {
	font-family: "Arial";
}

.header {
	padding: 60px;
	text-align: center;
	background: #1ABC9C;
	border-radius:20px;
	color: white;
	font-size: 30px;
}

.sidebar {
	float: left;	
	align-items: center;
	width: 15%;
	background-color: #FFFF00;
	border-radius: 20px;
	overflow-x: hidden;
	padding: 20px;
	margin-top: 10px;
}

.sticky {
	position: fixed;
	top: 10px;
}

.contact-item {
	display: grid;
	grid-template-columns: 40px auto;
	align-items: start;
	padding: 4px 0 4px 0;
}

.contact-info a:link {
	text-decoration: none;
}

.contact-info a:hover {
	text-decoration: underline;
}

.education h4 {
	margin: 8px 0 0 0;
}

.education #details {
	padding: 2px 0 0 4px;
	color: #292929;	
	font-size: 14px;
}

.main {
	float: right;
	width: 80%;
	font-size: 30px;
	padding: 10px;
}